<div class="container pt-5">
    <div class="row">
    <div class="col-md pt-5">
        <h2>Programa para agendamento</h2>
        <h3>Utilize nossa agenda online para se programar e marcar todos os seus eventos importantes</h3>
        <button type="button" class="btn btn btn-lg " id="botao">Venha conhecer</button>
    </div>
    <div class="col-md">
        <img src="https://images.unsplash.com/photo-1506784365847-bbad939e9335?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=868&q=80" class="img-fluid rounded float-right" alt="calendario">
    </div>
    </div>
  </div>